.formStyle,
.listContainerStyle {
  border: 1px solid black;
}

.formStyle {
  width: 430px;
}

.formHeaderStyle {
  background-color: green;
  border-bottom: 5px solid red;
  margin: 0;
  padding: 5px;
}

.formContentStyle {
  padding: 15px;
}

.listContainerStyle {
  width: 400px;
  padding: 15px;
  margin-top: 15px;
}

.listStyle {
  list-style-type: none;
  padding: 5px;
}
